<div class="container-fluid" style="height: 100vh; background-color:#064a86;">
  <div class="row" style="margin: 0; height: 30%;">
    <div class="col-8 custom-column-center">
      <div class="tituloGeneral">
        <div class="titulo">
          <p class="tituloPrincipal">Informe de resultados</p>
          <p class="subtitulo">vusualiza los resultados de tus estudiantes seleccionando la actividad</p>
        </div>
      </div>
    </div>
    <div class="col-2 custom-column-center">
      <div class="imagenTitulo">
        <img src="../../../assets/image/icon/gestionActividad.png" alt="">
      </div>
    </div>
  </div>
  <div class="row" style="margin: 0; height: 70%;">
    <div class="col-4">
      <div class="actividades">
        <mat-card class="example-card" (click)="actividadSeleccionada(0)">
          <mat-card-title-group>
            <mat-card-title>Evaluación</mat-card-title>
            <mat-card-subtitle>Evaluación inicial</mat-card-subtitle>
            <img mat-card-xl-image src="../../../assets/image/niñoPECS.jpg">
          </mat-card-title-group>
        </mat-card>
        <mat-list-item *ngFor="let actividad of actividadesLista" class="list-horizontal">
          <mat-card class="example-card" (click)="actividadSeleccionada(actividad.Id_actividad)">
            <mat-card-title-group>
              <mat-card-title>{{actividad.NombreActividad}}</mat-card-title>
              <mat-card-subtitle>{{actividad.Tipo_actividad_texto}}</mat-card-subtitle>
              <img mat-card-xl-image src="../../../assets/image/niñoPECS.jpg">
            </mat-card-title-group>
          </mat-card>
        </mat-list-item>
      </div>
    </div>
    <div class="col-8">
      <table mat-table [dataSource]="pacientesTabla" matSort class="mat-elevation-z8" style="width: 100%; text-align: center;">
        <caption>PACIENTES QUE REALIZARON LA ACTIVIDAD</caption>
        <ng-container matColumnDef="Nombre Paciente">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre Paciente </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="Apellido Paciente">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Apellido Paciente </th>
          <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>
        <ng-container matColumnDef="Grado Autismo">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Grado Autismo </th>
          <td mat-cell *matCellDef="let element"> {{element.grado_autismo}} </td>
        </ng-container>
        <ng-container matColumnDef="Edad">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
        </ng-container>
        <ng-container matColumnDef="Reporte">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Reporte </th>
          <td mat-cell *matCellDef="let element"><button mat-button (click)="obtenerEstudiante(element.documento)">
              <mat-icon color="warn">description</mat-icon>
            </button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
