<div class="container-fluid" style="height: 100vh;">
  <div class="row" style="margin: 0; height: 100vh;">
    <div class="col-md-7 col-lg-7 custom-column imagenPrincipal" style="height: 100%;">
      <div *ngIf="tipoDeRegistro_ID==1" class="imgRegistroDocente">
      </div>
      <div *ngIf="tipoDeRegistro_ID==2" class="imgRegistroAcudiente">
      </div>
      <div *ngIf="tipoDeRegistro_ID==3" class="imgRegistroEstudiante">
      </div>
    </div>
    <div class="col-md-5 col-lg-5 custom-column textoPrincipal" style="height: 100%;">
      <div class="row" style="margin: 0; height: 30%;">
        <div class="col-md-8 col-lg-8 custom-column"
          style="height: 100%; display: flex; align-items: center; text-align: center; justify-content: center;">
          <p *ngIf="tipoDeRegistro_ID==1" class="titulo">DOCENTE REGISTRATE AQUÍ</p>
          <p *ngIf="tipoDeRegistro_ID==2" class="titulo">ACUDIENTE REGISTRATE AQUÍ</p>
          <p *ngIf="tipoDeRegistro_ID==3" class="titulo">REGISTRAR ESTUDIANTE</p>
        </div>
        <div class="col-md-4 col-lg-4 custom-column"
          style="height: 100%; display: flex; align-items: center; text-align: center; justify-content: center;">
          <img src="/assets/image/logotipo2.png" alt="" style="width: 90%;">
        </div>
      </div>
      <div class="container_formulario">
        <!--Formulario para acudiente y docente-->
        <div class="formularioGeneral" *ngIf="tipoDeRegistro_ID !=3">
          <form [formGroup]="formR">
            <div class="campo_texto">
              <mat-form-field appearance="outline">
                <mat-label class="textC">Nombre</mat-label>
                <input matInput placeholder="Juan David" formControlName="nombre"  >
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint *ngIf="formR.get('nombre').errors && formR.get('nombre').touched">
                  <p *ngIf="formR.get('nombre').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formR.get('nombre').hasError('maxlength')" style="margin: 0;">
                    Nombre demasiado largo
                  </p>
                  <p *ngIf="formR.get('nombre').hasError('minlength')" style="margin: 0;">
                    Nombre demasiado corto
                  </p>
                  <p *ngIf="formR.get('nombre').hasError('pattern')" style="margin: 0;">
                    El nombre no puede contener numeros ni signos
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Castro Lopez" formControlName="apellido"  >
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint *ngIf="formR.get('apellido').errors && formR.get('apellido').touched">
                  <p *ngIf="formR.get('apellido').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formR.get('apellido').hasError('maxlength')" style="margin: 0;">
                    El apellido no deberia ser tan extenso
                  </p>
                  <p *ngIf="formR.get('apellido').hasError('minlength')" style="margin: 0;">
                    El apellido debe contener mas letras
                  </p>

                </mat-hint>
              </mat-form-field>
            </div>

            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label  >Documento</mat-label>
                <input matInput placeholder="1010101012" formControlName="documento"  >
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint *ngIf="formR.get('documento').errors && formR.get('documento').touched">
                  <p *ngIf="formR.get('documento').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formR.get('documento').hasError('minlength')" style="margin: 0;">
                    Documento no valido, faltan numeros
                  </p>
                  <p *ngIf="formR.get('documento').hasError('maxlength')" style="margin: 0;">
                    Documento no valido, muy largo
                  </p>
                  <p *ngIf="formR.get('documento').hasError('pattern')" style="margin: 0;">
                    El username solo debe contener numero
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" formControlName="clave" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint *ngIf="formR.get('clave').errors && formR.get('clave').touched">
                  <p *ngIf="formR.get('clave').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formR.get('clave').hasError('minlength')" style="margin: 0;">
                    Minimo 5 caracteres
                  </p>
                  <p *ngIf="formR.get('clave').hasError('maxlength')" style="margin: 0;">
                    Maximo 15 caracteres
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label>Correo</mat-label>
                <input matInput placeholder="abc@gmail.com" formControlName="correo"   type="email">
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-hint *ngIf="formR.get('correo').errors && formR.get('correo').touched">
                  <p *ngIf="formR.get('correo').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formR.get('correo').hasError('pattern')" style="margin: 0;">
                    Introduzca una direccion de correo valida
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="campo_texto">
              <mat-checkbox class="example-margin" color="primary" (change)="aceptarDatos()">Aceptar los
                <a href="../../../assets/documents/TRATAMIENTO DE DATOS.pdf" target="_blank">Terminos y
                  Condiciones</a></mat-checkbox>
            </div>
            <div class="campo_texto">
              <button mat-raised-button [disabled]="formR.invalid || disabled" color="primary" type="submit"
                (click)="registrar($event)">Enviar Registro
              </button>
            </div>
          </form>
        </div>

        <!--                            Formulario para paciente                   -->
        <div class="formularioGeneral" *ngIf="tipoDeRegistro_ID !=1 && tipoDeRegistro_ID !=2">
          <form [formGroup]="formRP" class="form-inline">
            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label class="textC">Nombre</mat-label>
                <input matInput placeholder="Juan David" formControlName="nombre"  >
                <mat-hint *ngIf="formRP.get('nombre').errors && formRP.get('nombre').touched">
                  <p *ngIf="formRP.get('nombre').hasError('required')" style="margin:0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formRP.get('nombre').hasError('maxlength')" style="margin:0;">
                    Nombre demaxiado largo
                  </p>
                  <p *ngIf="formRP.get('nombre').hasError('minlength')" style="margin: 0;">
                    Nombre demasiado corto
                  </p>
                  <p *ngIf="formRP.get('nombre').hasError('pattern')" style="margin: 0;">
                    El nombre no puede ocntener numeros ni signos
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Castro Lopez" formControlName="apellido"  >
                <mat-hint *ngIf="formRP.get('apellido').errors && formRP.get('apellido').touched">
                  <p *ngIf="formRP.get('apellido').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formRP.get('apellido').hasError('maxlength')" style="margin: 0;">
                    El apellido no deberia ser tan extenso
                  </p>
                  <p *ngIf="formRP.get('apellido').hasError('minlength')" style="margin: 0;">
                    El apellido debe contener mas letras
                  </p>

                </mat-hint>
              </mat-form-field>
            </div>

            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label  >Documento</mat-label>
                <input matInput placeholder="1010101012" formControlName="documento"  >
                <mat-hint *ngIf="formRP.get('documento').errors && formRP.get('documento').touched">
                  <p *ngIf="formRP.get('documento').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formRP.get('documento').hasError('minlength')" style="margin: 0;">
                    Documento no valido, faltan numeros
                  </p>
                  <p *ngIf="formRP.get('documento').hasError('maxlength')" style="margin: 0;">
                    Documento no valido, muy largo
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" formControlName="clave" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint *ngIf="formRP.get('clave').errors && formRP.get('clave').touched">
                  <p *ngIf="formRP.get('clave').hasError('required')" style="margin: 0;">
                    *Se requiere este campo
                  </p>
                  <p *ngIf="formRP.get('clave').hasError('minlength')" style="margin: 0;">
                    *Minimo 5 caracteres
                  </p>
                  <p *ngIf="formRP.get('clave').hasError('maxlength')" style="margin: 0;">
                    *Maximo 15 caracteres
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label>Grado de autismo</mat-label>
                <input matInput placeholder="2" formControlName="grado_autismo"   type="number">
                <mat-hint *ngIf="formRP.get('grado_autismo').errors && formRP.get('grado_autismo').touched">
                  <p *ngIf="formRP.get('grado_autismo').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formRP.get('grado_autismo').hasError('max')" style="margin: 0;">
                    El valor maximo para el grado de autismo es de 3
                  </p>
                  <p *ngIf="formRP.get('grado_autismo').hasError('pattern')" style="margin: 0;">
                    El grado de autismo debe ser en numeros y mayor a 0
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="campo_texto">
              <mat-form-field appearance="outline"  >
                <mat-label>Edad</mat-label>
                <input matInput placeholder="2" formControlName="edad"   type="number">
                <mat-hint *ngIf="formRP.get('edad').errors && formRP.get('edad').touched">
                  <p *ngIf="formRP.get('edad').hasError('required')" style="margin: 0;">
                    Se requiere este campo
                  </p>
                  <p *ngIf="formRP.get('edad').hasError('min')" style="margin: 0;">
                    El valor minimo para la edad es de 6
                  </p>
                  <p *ngIf="formRP.get('edad').hasError('max')" style="margin: 0;">
                    El valor maximo para la edad es de 11
                  </p>
                  <p *ngIf="formRP.get('edad').hasError('pattern')" style="margin: 0;">
                    La edad debe ser en numeros
                  </p>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="campo_texto">
              <mat-checkbox class="example-margin" color="primary" (change)="aceptarDatos()">Aceptar los
                <a href="../../../assets/documents/TRATAMIENTO DE DATOS.pdf" target="_blank">Terminos y
                  Condiciones</a></mat-checkbox>
            </div>
            <div class="campo_texto">
              <button mat-raised-button [disabled]="formRP.invalid || disabled" color="primary"
                style="float: left; margin-left: 20px; margin-top: 20px;" class="boton" type="submit"
                (click)="registrar($event)">Enviar Registro
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
