.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-shape-1 {
    width: 1088px;
    height: 918px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin:auto;
  }
  
  .u-section-1 .u-image-1 {
    width: 690px;
    height: 691px;
    object-position: 0% 50%;
    background-position: 50% 50%;
    background-image: url("../../../assets/image/niñoAutismo.webp");
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    margin: -862px 115px 0 auto;
  }
  
  .u-section-1 .u-shape-2 {
    width: 227px;
    height: 228px;
    background-image: linear-gradient(#77aad9, #478ac9);
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -35px 78px 0 auto;
  }
  
  .u-section-1 .u-group-1 {
    background-image: none;
    width: 541px;
    min-height: 441px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -481px auto 100px 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 24px 40px;
  }
  
  .u-section-1 .u-text-1 {
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    margin: 21px 0 0;
  }
  
  .u-section-1 .u-text-3 {
    letter-spacing: 1px;
    margin: 21px 28px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-shape-1 {
      width: 940px;
      margin-top: 80px;
    }
  
    .u-section-1 .u-image-1 {
      width: 660px;
      height: 660px;
      margin-top: -842px;
      margin-right: 69px;
    }
  
    .u-section-1 .u-group-1 {
      width: 490px;
      min-height: 417px;
      margin-top: -459px;
      margin-bottom: 60px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1026px;
    }
  
    .u-section-1 .u-shape-1 {
      height: 816px;
      margin-top: 10px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-image-1 {
      width: 509px;
      height: 509px;
      margin-top: -753px;
      margin-right: 30px;
    }
  
    .u-section-1 .u-group-1 {
      width: 415px;
      min-height: 415px;
      margin-top: -408px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 3.75rem;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1169px;
    }
  
    .u-section-1 .u-shape-1 {
      height: 535px;
      width: 519px;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-1 .u-image-1 {
      width: 377px;
      height: 377px;
      margin-top: -464px;
      margin-right: 38px;
    }
  
    .u-section-1 .u-group-1 {
      width: 426px;
      min-height: 427px;
      margin-top: 12px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 913px;
    }
  
    .u-section-1 .u-shape-1 {
      height: 378px;
      width: 328px;
    }
  
    .u-section-1 .u-image-1 {
      width: 271px;
      height: 271px;
      margin-top: -355px;
      margin-right: 20px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 363px;
      margin-top: 36px;
      margin-bottom: 57px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.125rem;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 3rem;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 0;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 747px;
  }
  
  .u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 321px;
    grid-gap: 20px;
  }
  
  .u-section-2 .u-list-item-1 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-icon-1 {
    width: 64px;
    height: 64px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 50px 10px 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-icon-2 {
    width: 64px;
    height: 64px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 50px 10px 0;
  }
  
  .u-section-2 .u-text-4 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-2 .u-icon-3 {
    width: 64px;
    height: 64px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-5 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 50px 10px 0;
  }
  
  .u-section-2 .u-text-6 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: -149px;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 264px;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-7 {
    font-weight: 700;
    font-size: 2.25rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 264px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 20px 30px;
  }
  
  .u-section-2 .u-text-8 {
    margin: 0;
  }
  
  .u-section-2 .u-btn-1 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px auto 0 0;
    padding: 15px 65px 15px 64px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 742px;
    }
  
    .u-section-2 .u-repeater-1 {
      min-height: 265px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: -108px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 218px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 218px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1112px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9.99997px));
      min-height: 609px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: -48px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1418px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: 12px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 772px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: 60px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 1114px;
  }
  
  .u-section-3 .u-shape-1 {
    height: 947px;
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    width: 915px;
    margin: -812px auto 196px;
  }
  
  .u-section-3 .u-image-1 {
    background-image: url("../../../assets/image/mined.png");
    background-position: 50% 50%;
    min-height: 338px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 338px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin: 0;
  }
  
  .u-section-3 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-btn-1 {
    background-image: none;
    border-style: none none solid;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 32px auto 0 0;
    padding: 0;
  }
  
  .u-section-3 .u-text-3 {
    line-height: 2;
    margin: 20px 87px 0 0;
  }
  
  .u-section-3 .u-btn-2 {
    background-image: none;
    border-style: none none solid;
    padding: 0;
  }
  
  .u-section-3 .u-image-2 {
    background-image: url("../../../assets/image/educacionDeCalidad.webp");
    background-position: 50% 50%;
    min-height: 338px;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-3 .u-layout-cell-4 {
    min-height: 338px;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin: 0;
  }
  
  .u-section-3 .u-text-5 {
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-btn-3 {
    background-image: none;
    border-style: none none solid;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 32px auto 0 0;
    padding: 0;
  }
  
  .u-section-3 .u-image-3 {
    min-height: 338px;
    background-image: url("../../../assets/image/autismo.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-3 .u-layout-cell-6 {
    min-height: 338px;
  }
  
  .u-section-3 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-6 {
    margin: 0;
  }
  
  .u-section-3 .u-text-7 {
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-btn-4 {
    background-image: none;
    border-style: none none solid;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 32px auto 0 0;
    padding: 0;
  }
  
  .u-section-3 .u-text-8 {
    letter-spacing: 1px;
    margin: 20px auto 0 0;
  }
  
  .u-section-3 .u-btn-5 {
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1018px;
    }
  
    .u-section-3 .u-shape-1 {
      height: 858px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 792px;
      margin-top: -777px;
      margin-bottom: 141px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 69px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 947px;
    }
  
    .u-section-3 .u-shape-1 {
      height: 823px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 629px;
      margin-top: -757px;
      margin-bottom: 126px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 384px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 384px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 45px;
    }
  
    .u-section-3 .u-image-2 {
      min-height: 384px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 307px;
    }
  
    .u-section-3 .u-text-4 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-image-3 {
      min-height: 307px;
    }
  
    .u-section-3 .u-layout-cell-6 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 2413px;
    }
  
    .u-section-3 .u-shape-1 {
      height: 583px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 428px;
      margin-top: -518px;
      margin-bottom: 58px;
      margin-left: 44px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 509px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 269px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-3 .u-image-2 {
      min-height: 508px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 217px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-4 {
      font-size: 1.875rem;
    }
  
    .u-section-3 .u-image-3 {
      min-height: 506px;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 2064px;
    }
  
    .u-section-3 .u-shape-1 {
      height: 451px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 268px;
      margin-top: -386px;
      margin-left: auto;
      margin-bottom: 60px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 352px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 294px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-3 .u-image-2 {
      min-height: 351px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 242px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-text-4 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-image-3 {
      min-height: 352px;
    }
  
    .u-section-3 .u-layout-cell-6 {
      min-height: 288px;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 1082px;
  }
  
  .u-section-4 .u-shape-1 {
    width: 832px;
    height: 747px;
    margin: 192px auto 0 52px;
  }
  
  .u-section-4 .u-shape-2 {
    width: 672px;
    height: 555px;
    margin: -852px 0 0 auto;
  }
  
  .u-section-4 .u-image-1 {
    height: 524px;
    background-image: url("../../../assets/image/BannerPrincipal.png");
    background-position: 50% 50%;
    width: 543px;
    margin: -625px 61px 0 auto;
  }
  
  .u-section-4 .u-group-1 {
    background-image: none;
    width: 568px;
    min-height: 460px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
    margin: -205px auto 60px 99px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 24px 40px;
  }
  
  .u-section-4 .u-text-1 {
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    margin: 21px 0 0;
  }
  
  .u-section-4 .u-text-3 {
    letter-spacing: 1px;
    margin: 21px 28px 0 0;
  }
  
  .u-section-4 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  .u-section-4 .u-btn-2 {
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 36px auto 0 0;
    padding: 15px 46px 15px 45px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-shape-1 {
      width: 846px;
      margin-left: 0;
    }
  
    .u-section-4 .u-shape-2 {
      width: 610px;
      height: 504px;
    }
  
    .u-section-4 .u-image-1 {
      width: 524px;
    }
  
    .u-section-4 .u-group-1 {
      width: 524px;
      margin-left: 61px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-shape-1 {
      width: 720px;
    }
  
    .u-section-4 .u-shape-2 {
      margin-right: 30px;
    }
  
    .u-section-4 .u-group-1 {
      width: 451px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-shape-1 {
      width: 540px;
    }
  
    .u-section-4 .u-shape-2 {
      width: 540px;
      margin-right: 0;
    }
  
    .u-section-4 .u-image-1 {
      height: 454px;
      width: 454px;
      margin-right: auto;
    }
  
    .u-section-4 .u-group-1 {
      margin-right: 26px;
      margin-left: auto;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-shape-1 {
      height: 620px;
      width: 307px;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-4 .u-shape-2 {
      height: 293px;
      width: 319px;
      margin-top: -639px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-4 .u-image-1 {
      margin-top: -155px;
      height: 340px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-group-1 {
      width: 318px;
      min-height: 458px;
      margin-top: -147px;
      margin-right: auto;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-4 .u-text-2 {
      font-size: 2.75rem;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 0;
    }
  }