.custom-column{
  padding: 0;
}
.containerPECS {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.actividadesPECS{
  width: 95%;
  height: 80vh;
  border-radius: 20px;
  background-color: #3f51b5;
}
.actividad{
  width: 100%;
  height: 100%;
}
.actividadTitulo{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actividadTitulo h1{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.imagenes{
  margin: auto;
  width: 95%;
  height: 85%;
}

.imagenesPrincipal{
  width: 100%;
  height: 100%;
}

.imagenesSecundario{
  width: 100%;
  height: 100%;
}

.imagen {
  background-color: rgba(64, 64, 64, 0.452);
  width: 95%;
  height: 75%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: hidden; /* Para evitar desbordamiento de imágenes grandes */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensajeSeleccion{
  background-color: rgba(11, 11, 11, 0.452);
  width: 95%;
  height: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensajeSeleccion p{
  text-align: center;
  color: #ffff;
  font-size: 1.5vw;
}

.imagen img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center; /* Centra la imagen vertical y horizontalmente */
}

.imagenTexto{
  width: 95%;
  height: 10%;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenTexto p{
  font-size: 3vh;
  margin:0;
}

.imagenAudio{
  width: 95%;
  height: 15%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenAudio button{
  width: 50%;
  height: 80%;
  padding: 0;
}


.actividadList{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #8393ed;
}

.actividadList .opciones{
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.actividadList .opciones p{
  font-size: 1.5vw;
  color: white;
  font-weight: 700;
}

.customColumnList{
  height: 100%;
}


















.container {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.container .container-pecs {
  width: 97%;
  height: 97%;
  margin: auto;
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.container .container-pecs .panel-actividades {
  width: 97%;
  height: 97%;
  margin: auto;
}

.container .container-pecs .actividades {
  width: 100%;
  height: 93%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.container .container-pecs .actividades .titulo {
  width: 50%;
  height: 7%;
  background-color: #3f51b5;
  margin-right: auto;
  margin-left: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.container .container-pecs .actividades .titulo .txt {
  margin-right: auto;
  margin-left: auto;
}
.container .container-pecs .actividades .titulo .txt h1 {
  font-size: 3vw;
}

/*imagenes principal*/

.container .container-pecs .actividades .imagenes-principal {
  width: 95%;
  height: 93%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.container .container-pecs .actividades .imagenes-principal .imagenes-central {
  width: 100%;
  height: 75%;
}

.container
  .container-pecs
  .actividades
  .imagenes-principal
  .imagenes-central
  .izquierda {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.container
  .container-pecs
  .actividades
  .imagenes-principal
  .imagenes-central
  .centro {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.container
  .container-pecs
  .actividades
  .imagenes-principal
  .imagenes-central
  .derecha {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.imagenes-central .izquierda .img,
.imagenes-central .centro .img,
.imagenes-central .derecha .img {
  width: 95%;
  height: 95%;
  margin: auto;
}

.imagenes-central .izquierda .img #brightness-on,
.imagenes-central .centro .img #brightness-on,
.imagenes-central .derecha .img #brightness-on {
  filter: brightness();
}

.imagenes-central img {
  width: 100%;
  height: 90%;
  border-radius: 20px;
}

.imagenes-central .izquierda .texto,
.imagenes-central .centro .texto,
.imagenes-central .derecha .texto {
  width: 100%;
  height: 10%;
  background-color: aliceblue;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3vw;
}

/*imagenes secundaria*/

.container .container-pecs .actividades .imagenes-secundaria {
  width: 95%;
  height: 93%;
  margin-right: auto;
  margin-left: auto;
}

.container
  .container-pecs
  .actividades
  .imagenes-secundaria
  .imagenes-superior {
  width: 100%;
  height: 50%;
}

.container
  .container-pecs
  .actividades
  .imagenes-secundaria
  .imagenes-superior
  .izquierda {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.container
  .container-pecs
  .actividades
  .imagenes-secundaria
  .imagenes-superior
  .centro {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.container
  .container-pecs
  .actividades
  .imagenes-secundaria
  .imagenes-superior
  .derecha {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.imagenes-superior .izquierda .img,
.imagenes-superior .centro .img,
.imagenes-superior .derecha .img {
  width: 95%;
  height: 95%;
  margin: auto;
  filter: brightness(0.4);
}

.imagenes-superior .izquierda .mensajeSeleccion,
.imagenes-superior .centro .mensajeSeleccion,
.imagenes-superior .derecha .mensajeSeleccion {
  width: 80%;
  height: 40%;
  margin: auto;
  background-color: rgba(47, 47, 47, 0.608);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.imagenes-superior .izquierda .mensajeSeleccion .mensaje,
.imagenes-superior .centro .mensajeSeleccion .mensaje,
.imagenes-superior .derecha .mensajeSeleccion .mensaje {
  width: 80%;
  height: 60%;
  margin: auto;
  text-align: center;
  color: #ffff;
  font-size: 1.5vw;
}

.imagenes-superior .izquierda #brightness-on,
.imagenes-superior .centro #brightness-on,
.imagenes-superior .derecha #brightness-on {
  filter: brightness(0.8);
}

.imagenes-superior img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.container
  .container-pecs
  .actividades
  .imagenes-secundaria
  .imagenes-inferior {
  width: 100%;
  height: 50%;
}

.container
  .container-pecs
  .actividades
  .imagenes-secundaria
  .imagenes-inferior
  .izquierda {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.container
  .container-pecs
  .actividades
  .imagenes-secundaria
  .imagenes-inferior
  .centro {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.container
  .container-pecs
  .actividades
  .imagenes-secundaria
  .imagenes-inferior
  .derecha {
  width: 33.3%;
  height: 100%;
  float: left;
  display: flex;
}

.imagenes-inferior .izquierda .img,
.imagenes-inferior .centro .img,
.imagenes-inferior .derecha .img {
  width: 95%;
  height: 95%;
  margin: auto;
  filter: brightness(0.8);
}

.imagenes-inferior .izquierda .mensajeSeleccion,
.imagenes-inferior .centro .mensajeSeleccion,
.imagenes-inferior .derecha .mensajeSeleccion {
  width: 80%;
  height: 40%;
  margin: auto;
  background-color: rgba(47, 47, 47, 0.608);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.imagenes-inferior .izquierda .mensajeSeleccion .mensaje,
.imagenes-inferior .centro .mensajeSeleccion .mensaje,
.imagenes-inferior .derecha .mensajeSeleccion .mensaje {
  width: 80%;
  height: 60%;
  margin: auto;
  text-align: center;
  color: #ffff;
  font-size: 1.5vw;
}

.imagenes-inferior img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.container .container-pecs .list-actividades {
  width: 100%;
  height: 7%;
}

.container .container-pecs .list-actividades .opciones {
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
}

.container .container-pecs .list-actividades .opciones .opcion {
  width: 16.666%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 1.3vw;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 1px solid rgba(77, 77, 77, 0.331);
  border-right: 1px solid rgba(77, 77, 77, 0.331);
  border-left: 1px solid rgba(77, 77, 77, 0.331);
}

/* para los botones de sintesis te voz */


.imagenes-central .izquierda .group_buttons,
.imagenes-central .centro .group_buttons,
.imagenes-central .derecha .group_buttons
{
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.mat-icon{
  height:40px !important;
  width:150% !important;
  font-size:40px !important;
  color: white;
  background-color: #5878ca;
  border-radius: 100px 100px 100px 100px;
}
.imagenes-central .izquierda .buttons,
.imagenes-central .centro .buttons,
.imagenes-central .derecha .buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: baseline;
}
.imagenes-central .izquierda .buttons p,
.imagenes-central .centro .buttons p,
.imagenes-central .derecha .buttons p{
  font-family: cursive;
  font-size: 1vw;
  font-weight: 00;
  margin-left: 10%;
  color: #7177E7;
  text-align: center;
  margin-top: 10%;
  width: 1%;
}
