<div class="container-fluid" style="height: 100%;">
  <div class="row" style="margin: 0; height: 100%;">
    <div class="col-md-12 col-lg-12 custom-column">
      <div class="containerPECS">
        <div class="actividadesPECS" [ngStyle]="{'background-color':colorCategora}">
          <div class="row" style="margin: 0; height: 100%;">
            <div class="col-10 col-lg-11 custom-column" style="height: 100%;">
              <div class="actividad">
                <div class="actividadTitulo">
                  <h1>Actividad</h1>
                </div>
                <div class="imagenes">
                  <div class="imagenesPrincipal" *ngIf="principal==true">
                    <div class="row" style="margin: 0; height: 100%;">
                      <div class="col-4 col-lg-4 custom-column" style="height: 100%;" *ngFor="let index of imagenesElements">
                        <div class="imagen">
                          <img [src]="imagenesSeleccionadasPECS[index]" (click)='ColocarImagen(index)' alt="">
                        </div>
                        <div class="imagenTexto">
                          <p>{{textosSeleccionadosPECS[index]}}</p>
                        </div>
                        <div class="imagenAudio">
                          <button type="button" class="btn btn-light" (click)="reproducirPalabra(index)">
                            <span class="bi bi-music-note" style="font-size: 5vh;"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="imagenesSecundario" *ngIf="principal==false">
                    <div class="row" style="margin: 0; height: 50%;">
                      <div class="col-4 col-lg-4 custom-column" style="height: 100%;">
                        <div class="imagen" (click)="SeleccionImagen(0)" *ngIf="activacionOpcionPECS[0]==true">
                          <img [src]="imagenesPECS[0]" alt="">
                        </div>
                        <div class="mensajeSeleccion" (click)='SeleccionImagen(0)'
                          *ngIf="activacionOpcionPECS[0]==false">
                          <p>Imagen seleccionada</p>
                        </div>
                        <div class="imagenTexto">
                          <p>{{imagenesPECS_texto[0]}}</p>
                        </div>
                      </div>
                      <div class="col-4 col-lg-4 custom-column" style="height: 100%;">
                        <div class="imagen" (click)="SeleccionImagen(1)" *ngIf="activacionOpcionPECS[1]==true">
                          <img [src]="imagenesPECS[1]" alt="">
                        </div>
                        <div class="mensajeSeleccion" (click)='SeleccionImagen(1)'
                          *ngIf="activacionOpcionPECS[1]==false">
                          <p>Imagen seleccionada</p>
                        </div>
                        <div class="imagenTexto">
                          <p>{{imagenesPECS_texto[1]}}</p>
                        </div>
                      </div>
                      <div class="col-4 col-lg-4 custom-column" style="height: 100%;">
                        <div class="imagen" (click)="SeleccionImagen(2)" *ngIf="activacionOpcionPECS[2]==true">
                          <img [src]="imagenesPECS[2]" alt="">
                        </div>
                        <div class="mensajeSeleccion" (click)='SeleccionImagen(2)'
                          *ngIf="activacionOpcionPECS[2]==false">
                          <p>Imagen seleccionada</p>
                        </div>
                        <div class="imagenTexto">
                          <p>{{imagenesPECS_texto[2]}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin: 0; height: 50%;">
                      <div class="col-4 col-lg-4 custom-column" style="height: 100%;">
                        <div class="imagen" (click)="SeleccionImagen(3)" *ngIf="activacionOpcionPECS[3]==true">
                          <img [src]="imagenesPECS[3]" alt="">
                        </div>
                        <div class="mensajeSeleccion" (click)='SeleccionImagen(3)'
                          *ngIf="activacionOpcionPECS[3]==false">
                          <p>Imagen seleccionada</p>
                        </div>
                        <div class="imagenTexto">
                          <p>{{imagenesPECS_texto[3]}}</p>
                        </div>
                      </div>
                      <div class="col-4 col-lg-4 custom-column" style="height: 100%;">
                        <div class="imagen" (click)="SeleccionImagen(4)" *ngIf="activacionOpcionPECS[4]==true">
                          <img [src]="imagenesPECS[4]" alt="">
                        </div>
                        <div class="mensajeSeleccion" (click)='SeleccionImagen(4)'
                          *ngIf="activacionOpcionPECS[4]==false">
                          <p>Imagen seleccionada</p>
                        </div>
                        <div class="imagenTexto">
                          <p>{{imagenesPECS_texto[4]}}</p>
                        </div>
                      </div>
                      <div class="col-4 col-lg-4 custom-column" style="height: 100%;">
                        <div class="imagen" (click)="SeleccionImagen(5)" *ngIf="activacionOpcionPECS[5]==true">
                          <img [src]="imagenesPECS[5]" alt="">
                        </div>
                        <div class="mensajeSeleccion" (click)='SeleccionImagen(5)'
                          *ngIf="activacionOpcionPECS[5]==false">
                          <p>Imagen seleccionada</p>
                        </div>
                        <div class="imagenTexto">
                          <p>{{imagenesPECS_texto[5]}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 col-lg-1 custom-column customColumnList">
              <div class="actividadList">
                <div class="opciones" style="background-color: rgb(195, 195, 195);" (click)='getCategoriaInfo(0)'>
                  <p>inicial</p>
                </div>
                <div *ngFor="let categoriaOpcion of infoCategorias">
                  <div class="opciones" [ngStyle]="{'background-color':categoriaOpcion.color}"
                    (click)='getCategoriaInfo(categoriaOpcion)'>
                    <p>{{categoriaOpcion.categoria}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
