<div class="container-fluid" style="height: 100vh; background-color:rgb(27, 37, 96);">
  <div class="row" style="margin: 0; height: 75%;">
    <div class="col-md-12 col-lg-6 custom-column">
      <div *ngIf="showWebcam">
        <div class="webcamCapturador">
          <webcam [trigger]="trigger" (imageCapture)="handleImage($event)" (initError)="handleInitError($event)">
          </webcam>
        </div>
        <div class="capturador">
          <button type="button" class="btn btn-light" (click)="capture()">FOTOGRAFIAR</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 custom-column">
      <div *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" alt="Captured Image">
      </div>
    </div>
  </div>
  <div *ngIf="this.resultado.values.length>1" class="row slideResultados">
    <div class="col-3 custom-column-center" *ngFor="let element of resultado.values" style="height: 80px;">
      <button type="button" class="btn btn-light" (click)="reproducir(element.name)">{{element.name}}</button>
    </div>
  </div>
</div>
