<div class="container-fluid" style="height: 100vh;">
  <div class="Pizarron-general">
    <div class="row" style="margin: 0; height: 20%;">
      <div class="col-8 custom-column-center">
        <div class="tituloGeneral">
          <div class="titulo">
            <p class="tituloPrincipal">PIZARRÓN</p>
            <p class="subtitulo">Estimulación de actividades motoras</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0; height: 60%;">
      <div class="col-12 custom-column" style="height: 100%;">
        <div class="pizarron">
          <app-pizarron style="width: 100%; height: 100%;"></app-pizarron>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0; height: 20%;">
      <div class="col-12 custom-column" style="height: 100%;">
        <div class="piePagina">
          <img src="../../../../assets/image/escolar.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

