<div class="title">
    <p>ACTIVIDIDADES DE IMITACIÓN 🎙</p>
</div>
<div class="activity">
    <mat-list-item *ngFor="let actividad of actividadesLista" class="list-horizontal">
        <mat-card class="example-card" (click)="actividadSeleccionada(actividad.Id_actividad)">
            <mat-card-title-group>
                <mat-card-title>{{actividad.NombreActividad}}</mat-card-title>
                <mat-card-subtitle>{{actividad.Tipo_actividad_texto}}</mat-card-subtitle>
                <img mat-card-xl-image src="../../../assets/image/niñoPECS.jpg">
            </mat-card-title-group>
        </mat-card>
    </mat-list-item>
</div>