.custom-column{
  padding: 0;
}

.general {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/image/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  padding: 2em;
  background-color: white;
}

.titulo{
  width: 100%;
  text-align: center;
}

.titulo h1{
  font-size: xx-large;
}

button {
  width: 100%;
}

.error {
  color: crimson;
}
