<div class="example-container">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened" id="menu">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened" id="close">close</mat-icon>
    </button>

    <button class="welcome" mat-button [routerLink]="['/inicio']">Bienvenido {{usuario}}</button>

    <span class="example-spacer"></span>
    <button class="welcome2" mat-button>¿Quienes somos?</button>
    <div *ngIf="!flagSesion">
      <button mat-raised-button target="_blank" [matMenuTriggerFor]="menuR">Registrese</button>
      <mat-menu #menuR="matMenu">
        <button mat-menu-item (click)="enviarRegistro(1)">Como Docente</button>
        <button mat-menu-item (click)="enviarRegistro(2)">Como Acudiente</button>
      </mat-menu>
    </div>

    <div *ngIf="rol !=3 && flagSesion ">
      <button mat-raised-button target="_blank" [matMenuTriggerFor]="menu">Registrar</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['registro/3']">Registrar Estudiante</button>
      </mat-menu>
    </div>

    <div>
      <button [disabled]="!flagSesion" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <div *ngIf="rol !=3 && flagSesion">
        <button mat-menu-item (click)="perfil()">
          <mat-icon>face</mat-icon>
          <span>Mi Perfil</span>
        </button>
      </div>
      <button mat-menu-item (click)="cerrarSession()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-drawer-container class="example-sidenav-content" autosize>
    <mat-drawer #drawer style="width: 200px" mode="side">
      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/inicio']">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <mat-divider></mat-divider>
      <div *ngIf="!flagSesion">
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/login']">
          <mat-icon>login</mat-icon>
          <span>Ingresar</span>
        </button>
        <mat-divider></mat-divider>
      </div>
      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/registro/3']">
            <mat-icon>person_add</mat-icon>
            <span>Agregar Estudiante</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['crearActividad']">
            <!--[routerLink]="['/registrarP']"-->
            <mat-icon>add_task</mat-icon>
            <span>Crear actividad</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['misActividades']">
            <!--[routerLink]="['/registrarP']"-->
            <mat-icon>edit</mat-icon>
            <span>Mis actividades</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1">
          <div>
            <a mat-menu-item style="cursor: pointer" href="/enlazarNino/1">
              <mat-icon>supervisor_account</mat-icon>
              <span>Enlazar Estudiante</span>
            </a>
            <mat-divider></mat-divider>
          </div>
        </div>
        <div *ngIf="rol==2">
          <div>
            <a mat-menu-item style="cursor: pointer" href="/enlazarNino/2">
              <mat-icon>supervisor_account</mat-icon>
              <span>Enlazar Estudiante</span>
            </a>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1||rol==2">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/panelResultados']">
            <mat-icon>fact_check</mat-icon>
            <span>Ver resultados</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1||rol==3">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/panelActividades']">
            <mat-icon>task</mat-icon>
            <span>Panel de Actividades</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/actividadDemo']">
            <mat-icon>keyboard_voice</mat-icon>
            <span>Actividad Demo</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div [hidden]="!flagSesion">
        <div *ngIf="rol==1||rol==3">
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/evaluacionInicial']">
            <mat-icon>school</mat-icon>
            <span>Evaluacion inicial</span>
          </button>
          <mat-divider></mat-divider>
        </div>
      </div>
      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer">
        <mat-icon>picture_as_pdf</mat-icon>
        <a style="color: black;" href="../../../assets/documents/MANUAL DE USUARIO.pdf" target="_blank" >Manual De Usuario</a>
      </button>
    </mat-drawer>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
    <p>

  </mat-drawer-container>

</div>
