<div class="container-fluid" style="height: 100vh; background-color:rgb(32, 42, 97);">
  <div class="row" style="margin: 0; height: 30%;">
    <div class="col-8 custom-column-center">
      <div class="tituloGeneral">
        <div class="titulo">
          <p class="tituloPrincipal">Creación de actividades</p>
          <p class="subtitulo">Aquí encontrarás una lista de actividas disponibleas a realizar, selecciona y crea la tuya!</p>
        </div>
      </div>
    </div>
    <div class="col-2 custom-column-center">
      <div class="imagenTitulo">
        <img src="../../../assets/image/icon/crearActividad.png" alt="">
      </div>
    </div>
  </div>
  <div class="row" style="margin: 0; height: 70%;">
    <div *ngIf="opcionCreacion==null" class="col-md-12 col-lg-12">
      <div class="actividades">
        <div class="row" style="margin: 0;">
          <div class="col-md-3 col-lg-3 custom-column" *ngFor="let actividad of actividad_tipoList"
            style="display: flex;align-items: center;justify-content: center;">
            <div class="actividad" (click)="opcionRegistro(actividad.Id_tp_actividad)">
              <p>Agregar <br>{{actividad.ActividadNombre}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="opcionCreacion==1"  class="col-md-8 col-lg-8 custom-column-center" style="height: 100%;">
      <div class="caracteristicasActividad">
        <form [formGroup]="crearActividadImitacion" #frmActividad="ngForm" class="form-inline">
          <div class="campo_texto">
            <mat-form-field appearance="outline" class="tamano">
              <mat-label>NOMBRE ACTIVIDAD</mat-label>
              <input matInput placeholder="Actividad 1" formControlName="nombreActividad" class="formu">
              <mat-error *ngIf="crearActividadImitacion.get('nombreActividad').hasError('required')">
                Ingrese los datos solicitados
              </mat-error>
              <mat-error *ngIf="crearActividadImitacion.get('nombreActividad').hasError('minlength')">
                El texto ingresado es muy corto
              </mat-error>
              <mat-error *ngIf="crearActividadImitacion.get('nombreActividad').hasError('maxlength')">
                El texto ingresado es muy grande
              </mat-error>
              <mat-error *ngIf="crearActividadImitacion.get('nombreActividad').hasError('pattern')">
                Debe ingresar solo numero y letras
              </mat-error>
            </mat-form-field>
          </div>

          <div class="campo_texto">
            <mat-form-field appearance="outline" class="tamano">
              <mat-label>DESCRIPCION DE LA ACTIVIDAD</mat-label>
              <input matInput placeholder="La actividad será" formControlName="descripcion">
              <mat-error *ngIf="crearActividadImitacion.get('descripcion').hasError('required')">
                Ingrese los datos solicitados
              </mat-error>
              <mat-error *ngIf="crearActividadImitacion.get('descripcion').hasError('minlength')">
                El texto ingresado es muy corto
              </mat-error>
              <mat-error *ngIf="crearActividadImitacion.get('descripcion').hasError('maxlength')">
                El texto ingresado es muy grande
              </mat-error>
              <mat-error *ngIf="crearActividadImitacion.get('descripcion').hasError('pattern')">
                Debe ingresar solo numero y letras
              </mat-error>
            </mat-form-field>
          </div>

          <form [formGroup]="actividadTexto" #frmTexto="ngForm" class="form-inline">
            <div class="campo_texto">
              <mat-form-field appearance="outline" class="tamano">
                <mat-label>TEXTO DE LA ACTIVIDAD DE IMITACIÓN </mat-label>
                <input matInput placeholder="El arbol es verde" formControlName="contenido_actividad" class="formu">
                <mat-error *ngIf="actividadTexto.get('contenido_actividad').hasError('required')">
                  Ingrese los datos solicitados
                </mat-error>
                <mat-error *ngIf="actividadTexto.get('contenido_actividad').hasError('minlength')">
                  El texto ingresado es muy corto
                </mat-error>
                <mat-error *ngIf="actividadTexto.get('contenido_actividad').hasError('maxlength')">
                  El texto ingresado es muy grande
                </mat-error>
              </mat-form-field>
            </div>
          </form>

          <div class="campo_texto">
            <button mat-raised-button [disabled]="frmActividad.invalid || frmTexto.invalid" color="primary"
              (click)="agregarActividad($event)">Agregar
              <mat-icon>bookmark_add</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="opcionCreacion==2" class="col-md-8 col-lg-8 custom-column-center" style="height: 100%;">
      <div class="caracteristicasActividad">
        <form [formGroup]="crearActividadPECS" #frmActividad="ngForm" class="form-inline">
          <div class="campo_texto">
            <mat-form-field appearance="outline" class="tamano">
              <mat-label>NUMERO DE IDENTIFICACIÓN ESTUDIANTE</mat-label>
              <input matInput placeholder="identificación" formControlName="Id_estudiante" class="formu">
              <mat-error *ngIf="crearActividadPECS.get('Id_estudiante').hasError('required')">
                Ingrese los datos solicitados
              </mat-error>
              <mat-error *ngIf="crearActividadPECS.get('Id_estudiante').hasError('minlength')">
                El texto ingresado es muy corto
              </mat-error>
              <mat-error *ngIf="crearActividadPECS.get('Id_estudiante').hasError('maxlength')">
                El texto ingresado es muy grande
              </mat-error>
              <mat-error *ngIf="crearActividadPECS.get('Id_estudiante').hasError('pattern')">
                Debe ingresar solo numero y letras
              </mat-error>
            </mat-form-field>
            <a href="/#/enlazarNino/1" style="color: white; text-decoration: underline;">no conoces el número de identificación?, accede a tus pacientes/estudiantes enlazados</a>
          </div>

          <div class="campo_texto">
            <mat-form-field appearance="outline" class="tamano">
              <mat-label>Acción a realizar</mat-label>
              <select matNativeControl formControlName="tipo_actividad"
                (change)="onSelectAccionTipoActividad($event.target.value)">
                <option style="font-size: 20px; color: black;" label="--Seleccione una accion a realizar--"></option>
                <option style="font-size: 20px; color: black;" value="categoriaPECS" label="Agregar categoria"></option>
                <option style="font-size: 20px; color: black;" value="imagenPECS" label="Agregar imagen"></option>
              </select>
              <mat-error *ngIf="crearActividadPECS.get('tipo_actividad').hasError('required')">
                Debe seleccionar un tipo de actividad
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="tipo_actividad_Accion=='categoriaPECS'" class="campo_texto">
            <mat-form-field appearance="outline" class="tamano">
              <mat-label>NOMBRE CATEGORÍA</mat-label>
              <input matInput placeholder="ingrese su dato" formControlName="Categoria">

              <mat-error *ngIf="crearActividadPECS.get('Categoria').hasError('required')">
                Ingrese los datos solicitados
              </mat-error>
              <mat-error *ngIf="crearActividadPECS.get('Categoria').hasError('minlength')">
                El texto ingresado es muy corto
              </mat-error>
              <mat-error *ngIf="crearActividadPECS.get('Categoria').hasError('maxlength')">
                El texto ingresado es muy grande
              </mat-error>
              <mat-error *ngIf="crearActividadPECS.get('Categoria').hasError('pattern')">
                Debe ingresar solo numero y letras
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="tipo_actividad_Accion=='categoriaPECS'" class="campo_texto">
            <mat-form-field appearance="outline" class="tamano">
              <mat-label>Asignar color a la categoría</mat-label>
              <select matNativeControl formControlName="Color" (change)="onSelectAccionColor($event.target.value)">
                <option style="font-size: 20px; color: black;" label="--Seleccione un color--"></option>
                <option style="font-size: 20px; color: black; background-color: #ff6961;" value="#ff6961" label="Rojo">
                </option>
                <option style="font-size: 20px; color: black; background-color: #77dd77;" value="#77dd77" label="Verde">
                </option>
                <option style="font-size: 20px; color: black; background-color: #fdfd96;" value="#fdfd96" label="Amarillo">
                </option>
                <option style="font-size: 20px; color: black; background-color: #84b6f4;" value="#84b6f4" label="Azul">
                </option>
                <option style="font-size: 20px; color: black; background-color: #fdcae1;" value="#fdcae1" label="Rosa">
                </option>
              </select>
              <mat-error *ngIf="crearActividadPECS.get('Color').hasError('required')">
                Debe seleccionar un tipo de actividad
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="tipo_actividad_Accion=='imagenPECS'" class="campo_texto">
            <button mat-raised-button color="primary" (click)="categoriasImagenPECS($event)">Buscar
              <mat-icon>bookmark_add</mat-icon>
            </button>
          </div>

          <div *ngIf="tipo_actividad_Accion=='categoriaPECS'" class="campo_texto">
            <button mat-raised-button [disabled]="frmActividad.invalid" color="primary"
              (click)="agregarCategoriaPECS($event)">Agregar
              <mat-icon>bookmark_add</mat-icon>
            </button>
          </div>

          <form *ngIf="tipo_actividad_Accion=='imagenPECS_categoria'" [formGroup]="crearActividadPECS_IMAGEN"
            #frmActividad="ngForm" class="form-inline">

            <div *ngIf="tipo_actividad_Accion=='imagenPECS_categoria'" class="campo_texto">
              <mat-form-field appearance="outline" class="tamano">
                <mat-label>DESCRIPCION DE LA IMAGEN</mat-label>
                <input matInput placeholder="ingrese su dato" formControlName="DesctipcionImagen">
              </mat-form-field>
            </div>


            <div *ngIf="tipo_actividad_Accion=='imagenPECS_categoria'" class="campo_texto">
              <mat-form-field appearance="outline" class="tamano">
                <mat-label>Asignar categoría</mat-label>
                <select matNativeControl formControlName="CategoriaAsignada"
                  (change)="onSelectAccionAsignarCategoria($event.target.value)">
                  <option style="font-size: 20px; color: black;" label="--Seleccione una categoría--"></option>
                  <option style="font-size: 20px; color: black;" *ngFor="let item of infoCategorias"
                    value="{{item.categoria_id}}">
                    {{item.categoria}}</option>
                </select>
              </mat-form-field>
            </div>


            <form *ngIf="tipo_actividad_Accion=='imagenPECS_categoria'" [formGroup]="actividadImagen" #frmImagen="ngForm"
              class="form-inline">
              <div class="campo_texto">
                <input type="file" (change)="upload($event)" formControlName="Imagen_cargada" class="formu_btn" accept="*.png.jpg">
              </div>
            </form>

            <div *ngIf="tipo_actividad_Accion=='imagenPECS_categoria'" class="campo_texto">
              <button mat-raised-button [disabled]="frmActividad.invalid" color="primary"
                (click)="agregarImagenPECS($event)">Agregar imagen a categoria
                <mat-icon>bookmark_add</mat-icon>
              </button>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
