.custom-column{
  padding: 0;
}
.custom-column-center{
  margin-left: auto;
  margin-right: auto;
}
.titulo{
  font-size: large;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tituloPrincipal{
  color: #3f51b5;
  font-size: xx-large;
  font-weight: 900;
  margin: 0;
}
.subtitulo{
  font-size: large;
  padding-top: 35px;
  margin: 0;
}

.actividades {
  background-color: #b3bae1;
  padding: 5%;
}

.actividad{
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}

.actividad p{
  font-size: medium;
  text-align: center;
  font-weight: 400;
  color: white;
}

.caracteristicasActividad {
  border-radius: 10px;
  padding: 30px;
  background-color: #5d74f6;
}

.form-inline {
  width: 100%;
}


.boton {
  height: 80%;
  font-size: medium;
}

.centro {
  margin: 0.5% auto;
}

.campo_texto {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Cambia el color del borde del mat-form-field a blanco */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

/* Cambia el color del texto del mat-label a blanco */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  color: white;
}







.formu {
  width: 100%;
  height: 30px;
  font-size: medium;
}

.formu_btn {
  width: 100%;
  height: 50px;
  font-size: medium;
  background-color: rgb(255, 255, 255);
  color: #3f51b5;
  border-radius: 5px;
}

.tamano {
  width: 100%;
  height: 100px;
}



.tables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
table {
  width: 90%;
  position: static;
  margin: 20px;
  margin: auto;
}
