<div class="activityCards">
  <div class="card">
    <mat-card class="example-card" (click)="actividadSeleccionada(1)">
      <mat-card-title-group>
        <mat-card-title>Actividades de texto</mat-card-title>
        <mat-card-subtitle>Imitacion verbal</mat-card-subtitle>
        <img mat-card-xl-image src="../../../assets/image/niño-hablando.jpg" alt="">
      </mat-card-title-group>
    </mat-card>
  </div>
  <div class="card">
    <mat-card class="example-card" (click)="actividadSeleccionada(2)">
      <mat-card-title-group>
        <mat-card-title>Actividades de imagenes</mat-card-title>
        <mat-card-subtitle>Reconocimiento de imagenes implementando (PECS)</mat-card-subtitle>
        <img mat-card-xl-image src="../../../assets/image/niñoPECS.jpg" alt="">
      </mat-card-title-group>
    </mat-card>
  </div>
</div>