.title{
    font-size: 3vw;
    margin: 10px;
    font-family: Blinker;
    text-align: center;
    color: #557;
}
.activity{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.example-card {
    max-width: 400px;
    cursor: pointer;
    margin: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}