<div class="container-fluid">
  <div class="row" style="margin: 0; height: 30%;">
    <div class="col-12">
      <div class="titulo">
        <p>{{tipoGestion}}</p>
      </div>
    </div>
    <div class="col-12">
      <div class="row" *ngIf="actividadType == 1" style="margin: 0; height: 30%;">
        <div class="col-6">
          <table mat-table [dataSource]="listaActividades_activas" matSort class="mat-elevation-z8">
            <caption>TUS ACTIVIDADES ACTIVAS</caption>
            <ng-container matColumnDef="Nombre Actividad">
              <th mat-header-cell *matHeaderCellDef> Nombre actividad / documento </th>
              <td mat-cell *matCellDef="let element"> {{element.NombreActividad}} </td>
            </ng-container>
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="Tipo Actividad">
              <th mat-header-cell *matHeaderCellDef> Tipo actividad</th>
              <td mat-cell *matCellDef="let element"> {{element.Tipo_actividad_texto}} </td>
            </ng-container>
            <ng-container matColumnDef="Contenido">
              <th mat-header-cell *matHeaderCellDef> Contenido </th>
              <td mat-cell *matCellDef="let element"> {{element.Contenido_actividad}} </td>
            </ng-container>
            <ng-container matColumnDef="Desactivar">
              <th mat-header-cell *matHeaderCellDef> Desactivar </th>
              <td mat-cell *matCellDef="let element"><button mat-button
                  (click)="actualizareActividad(element.Id_actividad)">
                  <mat-icon color="warn">toggle_on</mat-icon>
                </button> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="col-6">
          <table mat-table [dataSource]="listaActividades_inactivas" matSort class="mat-elevation-z8">
            <caption>TUS ACTIVIDADES INACTIVAS</caption>
            <ng-container matColumnDef="Nombre Actividad">
              <th mat-header-cell *matHeaderCellDef> Nombre actividad / documento </th>
              <td mat-cell *matCellDef="let element"> {{element.NombreActividad}} </td>
            </ng-container>
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="Tipo Actividad">
              <th mat-header-cell *matHeaderCellDef> Tipo actividad</th>
              <td mat-cell *matCellDef="let element"> {{element.Tipo_actividad_texto}} </td>
            </ng-container>
            <ng-container matColumnDef="Contenido">
              <th mat-header-cell *matHeaderCellDef> Contenido </th>
              <td mat-cell *matCellDef="let element"> {{element.Contenido_actividad}} </td>
            </ng-container>
            <ng-container matColumnDef="Activar">
              <th mat-header-cell *matHeaderCellDef> Activar </th>
              <td mat-cell *matCellDef="let element"><button mat-button
                  (click)="actualizareActividad(element.Id_actividad)">
                  <mat-icon color="warn">toggle_off</mat-icon>
                </button> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns_"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns_;"></tr>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="actividadType == 2" style="margin: 0; height: 30%;">
        <div class="col-6">
          <table mat-table [dataSource]="listaCategorias_activas" matSort class="mat-elevation-z8">
            <caption>TUS ACTIVIDADES ACTIVAS</caption>
            <ng-container matColumnDef="Nombre Actividad">
              <th mat-header-cell *matHeaderCellDef> Documento estudiante </th>
              <td mat-cell *matCellDef="let element"> {{element.id_estudiante}} </td>
            </ng-container>
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Nombre Categoría </th>
              <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
            </ng-container>
            <ng-container matColumnDef="Tipo Actividad">
              <th mat-header-cell *matHeaderCellDef> Tipo actividad</th>
              <td mat-cell *matCellDef="let element"> PECS </td>
            </ng-container>
            <ng-container matColumnDef="Contenido">
              <th mat-header-cell *matHeaderCellDef> Color actividad </th>
              <td mat-cell [ngStyle]="{'background-color':element.color}" *matCellDef="let element"> {{element.color}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Desactivar">
              <th mat-header-cell *matHeaderCellDef> Desactivar </th>
              <td mat-cell *matCellDef="let element"><button mat-button (click)="actualizarCategoria(element.id)">
                  <mat-icon color="warn">toggle_on</mat-icon>
                </button> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="col-6">
          <table mat-table [dataSource]="listaCategorias_inactivas" matSort class="mat-elevation-z8">
            <caption>TUS ACTIVIDADES INACTIVAS</caption>
            <ng-container matColumnDef="Nombre Actividad">
              <th mat-header-cell *matHeaderCellDef> Documento estudiante </th>
              <td mat-cell *matCellDef="let element"> {{element.id_estudiante}} </td>
            </ng-container>
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Nombre Categoría </th>
              <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
            </ng-container>
            <ng-container matColumnDef="Tipo Actividad">
              <th mat-header-cell *matHeaderCellDef> Tipo actividad</th>
              <td mat-cell *matCellDef="let element"> PECS </td>
            </ng-container>
            <ng-container matColumnDef="Contenido">
              <th mat-header-cell *matHeaderCellDef> Color actividad </th>
              <td mat-cell [ngStyle]="{'background-color':element.color}" *matCellDef="let element"> {{element.color}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Activar">
              <th mat-header-cell *matHeaderCellDef> Activar </th>
              <td mat-cell *matCellDef="let element"><button mat-button (click)="actualizarCategoria(element.id)">
                  <mat-icon color="warn">toggle_off</mat-icon>
                </button> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns_"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns_;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
