.custom-column-center{
  margin-left: auto;
  margin-right: auto;
}

.tituloGeneral{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo{
  width: 100%;
  height: 60%;
  padding: 3%;
  font-size: large;
  text-align: center;
  border: 2px solid white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.tituloPrincipal{
  color: #ffffff;
  font-size: xx-large;
  font-weight: 900;
  margin: 0;
}
.imagenTitulo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imagenTitulo img{
  width: 100%;
}
.subtitulo{
  color: #ffffff;
  font-size: large;
  padding-top: 3%;
  margin: 0;
}

.actividades {
  height: 95%;
  background-color: #d2cadc;
  padding: 5%;
  overflow-y: scroll;
}
.actividad{
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(62, 36, 78);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}
.actividad p{
  font-size: medium;
  text-align: center;
  font-weight: 400;
  color: rgb(62, 36, 78);
}

@media screen and (max-width: 768px) {
  .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tituloPrincipal {
    font-size: large;
  }

  .subtitulo{
    display: none;
  }
}
